$primary-font: 'Fjalla One',
sans-serif;
$secondary-font: 'Montserrat',
sans-serif;
$primary-color: #39ACFC;
$primary-color-light: #39CFFD;
$color-black: #000;
$color-white: #fff;
$color-grey: #7a7a7a;
$text-color-dark: #475C8A;
$bg-color: #FBFBFB;
$input-bg: #F5FAFF;